{% extends 'home.html' %}

{% block content %}
    <p><b>Select map: </b>
        <select name="map" class="form-control">
            <option value="1">Heaven</option>
            <option value="2">Breeze</option>
            <option value="3">Split</option>
            <option value="4">Bind</option>
            <option value="5">Icebox</option>
            <option value="6">Fracture</option>
            <option value="7">Pearl</option>
            <option value="8">Lotus</option>
            <option value="9">Ascent</option>
        </select>
    </p>
{% endblock %}

