{% extends 'agents_list.html' %}

{% block content %}
    <p><b>Select your agent: </b>
        <select name="agent" class="form-control">
{#            {% for agent in agents %}#}
{#                <option value="{{ agent.id }}">{{ agent.name }}</option>#}
{#            {% endfor %}#}
            <option value="1">Astra</option>
            <option value="2">Phoenix</option>
            <option value="3">Raze</option>
            <option value="4">Jett</option>
            <option value="5">Yoru</option>
            <option value="6">Neon</option>
            <option value="7">Reyna</option>
            <option value="8">Sage</option>
            <option value="9">Cypher</option>
            <option value="10">Chamber</option>
            <option value="11">Killjoy</option>
            <option value="12">Omen</option>
            <option value="13">Viper</option>
            <option value="14">Brimstone</option>
            <option value="15">Harbor</option>
            <option value="16">Sova</option>
            <option value="17">Breach</option>
            <option value="18">Skye</option>
            <option value="19">KAY/O</option>
            <option value="20">Fade</option>
            <option value="21">Gekko</option>

        </select>
    </p>
{% endblock %}

